Faker==16.6.0
fastapi==0.91.0
fastapi-pagination==0.11.2
FastAPI-SQLAlchemy==0.2.1
mysqlclient==2.1.1
passlib==1.7.4
pyjwt==2.4.0
pymysql==1.0.2
pytz==2022.7
shortuuid==1.0.11
sqlalchemy==1.4.38
SQLAlchemy-Utils==0.39.0
uvicorn==0.20.0
more-itertools
numpy == 1.22.4
pandas
dlib
webcolors
matplotlib
scikit-learn
huggingface-hub==0.10.1
tensorflow==2.10.1
tensorflow-gpu==2.10.1
tensorflow_datasets
torch
torchvision
tqdm
tweepy==3.10.0
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
torch-encoding==1.2.1
torchaudio==0.12.0
tornado==6.2
traitlets==5.3.0
transformers == 4.25.1
pathlib
yolov5