.txt
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
app/env-aws.py
app/env.py
docker/api/Dockerfile
docs_build
venv
docs.zip
archive.zip
app/**/*.txt
app/**/*.pt
app/../*.md
app/services/yolo/weight/yolov5s.pt
app/services/yolo/weight/best.pt
app/services/personal_color/save/shape_predictor_68_face_landmarks.dat
# vim temporary files
*~
.*.sw?
